# Node modules
node_modules/
node_modules/*

# Security
**/betfaircertificates/
**/secrets.json

# Personal notes
notes/*

# Build artifacts
done.txt
*.swp

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# yarn vs npm conflict
package-lock.json ## use yarn.lock instead
# yarn.lock

# Local Netlify folder
.netlify

/.env*
