#### You can copy this file to `.env.local` and modify accordingly.
#### Documentation can be found in `docs/configuration.md`.

# ALGOLIA_MASTER_API_KEY=19b6c2234e50c98d30668659a39e3127

# DIGITALOCEAN_POSTGRES=postgresql://...@localhost:5432/...?schema=public
# POSTGRES_NO_SSL=1

# MONGODB_URL=mongodb://localhost:27017

# NEXT_PUBLIC_SITE_URL=http://localhost:3000

# DEBUG_MODE=off

# INFER_COOKIE=...
# GOODJUDGMENTOPENCOOKIE=TODO
# GOOGLE_API_KEY=TODO
# SECRET_BETFAIR_ENDPOINT=TODO
