#### You can copy this file to `.env` and modify accordingly.
#### Documentation can be found in `docs/configuration.md`.

# ALGOLIA_MASTER_API_KEY=999988887777666655554444eeeeffff
# NEXT_PUBLIC_ALGOLIA_APP_ID=ABCDE12345
# NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=0000111122223333aaaabbbbccccdddd

# ELASTIC_HOST=https://metaforecast-elastic.k8s.quantifieduncertainty.org
# ELASTIC_INDEX=metaforecast
# ELASTIC_USER=elastic
# ELASTIC_PASSWORD=...

# DIGITALOCEAN_POSTGRES=postgresql://...@localhost:5432/...?schema=public
# POSTGRES_NO_SSL=1

# DEBUG_MODE=off

# INFER_COOKIE=...
# GOODJUDGMENTOPENCOOKIE=TODO
# GOOGLE_API_KEY=TODO
# SECRET_BETFAIR_ENDPOINT=TODO
